.container {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 52px;
  height: 140px;
  border: 1px solid #e0e0e0;
  padding: 20px;
}

.inputContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inputContainer textarea {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  outline: none;
}

.imageWrapper {
  border-radius: 50%; /* 부모 요소에 반지름을 설정하여 둥글게 만듦 */
  overflow: hidden; /* 자식 요소가 부모의 경계를 벗어나지 않게 함 */
  width: 50px;
  height: 50px;
  border: 2px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundedImage {
  border-radius: 50%; /* 이미지 자체를 둥글게 만듦 */
}

.footerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footerButtonLeft {
  flex: 1;
}
.postButtonSection {
  width: 100%;
  margin-top: 20px;
}

.uploadButton {
  width: 34px;
  height: 34px;
  border: none;
  cursor: pointer;
  border-radius: 17px;
  transition-duration: 0.2s;
  transition-property: background-color;
  background-color: rgb(29, 155, 240, 0.01);
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploadButton:hover {
  background-color: rgb(29, 155, 240, 0.1);
}
.uploadButton svg {
  fill: rgb(29, 155, 240);
}
.actionButton:disabled {
  opacity: 0.5;
}
.actionButton {
  width: 94px;
  height: 36px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 15px;
  border-radius: 18px;
  background-color: rgb(29, 155, 240);
}
.actionButton:hover {
  background-color: rgb(26, 140, 216);
}
