.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(var(--background-end-rgb));
  width: 100dvw;
  height: 100dvh;
}
.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right h1 {
  font-weight: bold;
  font-size: 64px;
  margin: 48px 0;
}
.right h2 {
  font-weight: bold;
  font-size: 31px;
  margin-bottom: 32px;
}
.right h3 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.signup {
  background-color: #1da1f2; /* Blue background color */
  color: white; /* White text color */
  border: none; /* No border */
  border-radius: 50px; /* Rounded corners */
  padding: 10px 40px; /* Padding */
  font-size: 16px; /* Font size */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Inline block for proper padding and margin */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  width: 300px;
}
.signup:hover {
  background-color: rgb(26, 140, 216);
}
.login {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  color: rgb(29, 155, 240);
  border: 1px solid rgb(207, 217, 222);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login:hover {
  background-color: rgba(29, 155, 240, 0.1);
}
@media all and (min-width: 1000px) {
  .container {
    flex-direction: row;
    padding: 0;
  }
  .left {
    flex: 1;
    justify-content: center;
  }
  .left img {
    width: 450px;
    height: 550px;
  }
  .right {
    justify-content: center;
  }
  .right h1 {
    font-size: 64px;
  }
}
