.modalBackground {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (prefers-color-scheme: dark) {
  .modalBackground {
    background-color: rgba(01, 112, 131, 0.4);
  }
}

.modal {
  background-color: rgb(var(--background-end-rgb));
  position: relative;
  top: 30%;
  max-width: 80vw;
  min-width: 600px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 450px;
}
.modalBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: top;
  padding-top: 10%;
  align-items: center;
}
.modal form {
  width: 50%;
}

@media all and (min-width: 687px) {
  .modal {
  }
  .modalHeader {
  }
  .modalBody {
  }
}

.form {
  display: flex;
  flex-direction: column;
  height: 80%;
  gap: 20px;
}

.form input {
  display: flex;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 16px;
  height: 40px;
  padding: 10px;
}

.form button {
  width: auto;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  color: rgb(29, 155, 240);
  border: 1px solid rgb(207, 217, 222);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.modalFooter {
}

.actionButton {
}
.actionButton:disabled {
}
.actionButton:hover {
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  width: 100%;
}

.iconImage {
  display: flex;
  flex: 95;
  justify-content: center;
  margin-right: 35px;
}

.closeButton {
  width: 35px;
  height: 35px;
  display: flex;
  flex: 5;
  top: 0;
  left: 0;
  border: 0px;
  background-color: inherit;
  padding: 5px;
  border-radius: 16px;
}

.closeButton:hover {
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  .closeButton {
  }
  .closeButton svg {
  }
}
