.container {
  display: flex;
  align-items: stretch;
}

.leftSectionWrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-grow: 1;
}

.leftSection {
  height: 100dvh;
  width: 275px;
}

.leftSection nav li {
  list-style-type: none;
}

.leftSectionFixed nav {
  flex: 1;
}

.leftSectionFixed {
  width: inherit;
  height: 100dvh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.leftSectionLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: inherit;
}

.rightSectionWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.rightSectionInner {
  display: flex;
  justify-content: space-between;
  height: 100dvh;
  width: 990px;
}

.mainSection {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.trendAndSearchSection {
  display: fixed;
  top: 0;
  width: 350px;
  height: 100%;
}
.searchForm {
  position: fixed;
  height: 50px;
  width: inherit;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  background-color: white;
  display: flex;
  align-items: center;
}

.searchForm svg {
  margin-left: 20px;
  fill: rgb(83, 100, 113);
}

.searchForm input {
  outline: none;
  background-color: inherit;
  border: none;
  padding: 12px;
  margin-left: 5px;
  font-size: 15px;
}

.postButton {
  background-color: #1d9bf0;
  color: white;
  padding: 12px;
  border-radius: 16px;
  width: inherit;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.postButton {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  background-color: rgb(29, 155, 240);
  width: 234px;
  height: 50px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 17px;
}
.postButton:hover {
  background-color: rgb(26, 140, 216);
}
.postButton span {
  display: none;
}
.postButton svg {
  display: inline-block;
  fill: white;
  width: 24px;
}
